
.tabla {
    width: 100%;
    flex-grow: 1; 
    overflow: auto; 
}


th, td {
    border: 1px solid;
    padding: 20px;
    
  }

th {
    background: rgb(1, 117, 117);
    box-shadow: 5px;
    color: white;
}

